In [21]:
import pandas as pd
import numpy as np

In [22]:
calendar = pd.read_csv('calendar.csv')

In [23]:
calendar.sample(5)

         listing_id        date available   price
1009517     6216116  2016-10-22         t  $90.00
1220565     6445769  2016-01-09         f     NaN
49210       4694479  2016-10-30         t  $57.00
865835      5299060  2016-02-28         t  $65.00
1219095     7559939  2016-12-29         t  $65.00

In [24]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [25]:
calendar['date'] = pd.to_datetime(calendar['date'], errors='coerce')

In [26]:
calendar['price'] = calendar['price'].str.replace('[$,]', '', regex=True).astype(float)
calendar['price']=calendar['price'].fillna(calendar['price'].median())

In [27]:
calendar['available'].isnull().sum()  # Check for null values in 'available' column

np.int64(0)

In [28]:
calendar['available'] = calendar['available'].map({'t': 1, 'f': 0}).astype(int)

In [29]:
calendar.sample(5)

         listing_id       date  available  price
1358184     9533803 2016-01-23          0  109.0
1074111     1520549 2016-10-11          1   65.0
1310714     9435279 2017-01-02          1  162.0
467471      9258513 2016-10-01          1  150.0
390286      6119821 2016-04-14          1   38.0

In [30]:
calendar.to_csv("Calendar_cleansed.csv", index=False)