In [143]:
import pandas as pd
import numpy as np

In [144]:
listings = pd.read_csv("listings.csv")
listings.sample(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
2091,606297,https://www.airbnb.com/rooms/606297,20160104002432,2016-01-04,5 Bed 3Bath House Near Downtown SEA,Our comfortable 5 bed 3 Bath home with 2 Kitch...,***We require ALL guests staying to individual...,Our comfortable 5 bed 3 Bath home with 2 Kitch...,none,NaN,...,8.0,f,NaN,WASHINGTON,f,strict,t,t,11,1.95
3527,7873208,https://www.airbnb.com/rooms/7873208,20160104002432,2016-01-04,Crayola Home Green Room-Bunk bed 7,Our home is a mix between hostel and home. We ...,Our listing offers a unique Airbnb experience ...,Our home is a mix between hostel and home. We ...,none,The Capitol Hill neighborhood has a great mix ...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,18,0.23
789,3291777,https://www.airbnb.com/rooms/3291777,20160104002432,2016-01-04,Spacious and so close to UW (34),It has a Walk Score of 100--Walker's Paradise....,Furnished spacious one bedroom apartments in a...,It has a Walk Score of 100--Walker's Paradise....,none,It is located in the bustling and vibrant Univ...,...,7.0,f,NaN,WASHINGTON,f,moderate,f,f,34,0.37
3739,3931571,https://www.airbnb.com/rooms/3931571,20160104002432,2016-01-04,2BD/1.5BA Townhouse Apt. in Fremont,This 2 bedroom/1.5 bathroom townhouse apartmen...,The Space This 2 bedroom/1.5 bathroom townhous...,This 2 bedroom/1.5 bathroom townhouse apartmen...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,1,1.61
2331,5424448,https://www.airbnb.com/rooms/5424448,20160104002432,2016-01-04,Beautiful Tudor Home Water View,This beautiful home is located just a mile nor...,This beautiful home is located just a mile nor...,This beautiful home is located just a mile nor...,none,"The house is in a great walking neighborhood, ...",...,8.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.18

In [145]:
column_names = listings.columns.tolist()
column_names

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'reviews_per_month']

In [146]:
listings.shape

(3818, 92)

In [147]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3816 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [148]:
listings.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3.818000e+03,3816.000000,3816.000000,3818.000000,3818.000000,3818.000000,3802.000000,3812.000000,...,3171.000000,3160.000000,3165.000000,3160.000000,3167.000000,3163.000000,3162.000000,0.0,3818.000000,3191.000000
mean,5.550111e+06,2.016010e+13,1.578556e+07,7.157757,7.157757,47.628961,-122.333103,3.349398,1.259469,1.307712,...,94.539262,9.636392,9.556398,9.786709,9.809599,9.608916,9.452245,NaN,2.946307,2.078919
std,2.962660e+06,0.000000e+00,1.458382e+07,28.628149,28.628149,0.043052,0.031745,1.977599,0.590369,0.883395,...,6.606083,0.698031,0.797274,0.595499,0.568211,0.629053,0.750259,NaN,5.893029,1.822348
min,3.335000e+03,2.016010e+13,4.193000e+03,1.000000,1.000000,47.505088,-122.417219,1.000000,0.000000,0.000000,...,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,NaN,1.000000,0.020000
25%,3.258256e+06,2.016010e+13,3.275204e+06,1.000000,1.000000,47.609418,-122.354320,2.000000,1.000000,1.000000,...,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.695000
50%,6.118244e+06,2.016010e+13,1.055814e+07,1.000000,1.000000,47.623601,-122.328874,3.000000,1.000000,1.000000,...,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.540000
75%,8.035127e+06,2.016010e+13,2.590309e+07,3.000000,3.000000,47.662694,-122.310800,4.000000,1.000000,2.000000,...,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,3.000000
max,1.034016e+07,2.016010e+13,5.320861e+07,502.000000,502.000000,47.733358,-122.240607,16.000000,8.000000,7.000000,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,37.000000,12.150000

In [149]:
listings.isnull().sum()

id                                    0
listing_url                           0
scrape_id                             0
last_scraped                          0
name                                  0
                                   ...
cancellation_policy                   0
require_guest_profile_picture         0
require_guest_phone_verification      0
calculated_host_listings_count        0
reviews_per_month                   627
Length: 92, dtype: int64

In [150]:
listings[listings.isnull().any(axis=1)]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,8101950,https://www.airbnb.com/rooms/8101950,20160104002432,2016-01-04,3BR Mountain View House in Seattle,Our 3BR/2BA house boasts incredible views of t...,"Our 3BR/2BA house bright, stylish, and wheelch...",Our 3BR/2BA house boasts incredible views of t...,none,We're located near lots of family fun. Woodlan...,...,8.0,f,NaN,WASHINGTON,f,strict,f,f,8,0.30
3814,8902327,https://www.airbnb.com/rooms/8902327,20160104002432,2016-01-04,Portage Bay View!-One Bedroom Apt,800 square foot 1 bedroom basement apartment w...,This space has a great view of Portage Bay wit...,800 square foot 1 bedroom basement apartment w...,none,The neighborhood is a quiet oasis that is clos...,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,1,2.00
3815,10267360,https://www.airbnb.com/rooms/10267360,20160104002432,2016-01-04,Private apartment view of Lake WA,"Very comfortable lower unit. Quiet, charming m...",NaN,"Very comfortable lower unit. Quiet, charming m...",none,NaN,...,NaN,f,NaN,WASHINGTON,f,moderate,f,f,1,NaN
3816,9604740,https://www.airbnb.com/rooms/9604740,20160104002432,2016-01-04,Amazing View with Modern Comfort!,Cozy studio condo in the heart on Madison Park...,Fully furnished unit to accommodate most needs...,Cozy studio condo in the heart on Madison Park...,none,Madison Park offers a peaceful slow pace upsca...,...,NaN,f,NaN,WASHINGTON,f,moderate,f,f,1,NaN
3817,10208623,https://www.airbnb.com/rooms/10208623,20160104002432,2016-01-04,Large Lakefront Apartment,"All hardwood floors, fireplace, 65"" TV with Xb...",NaN,"All hardwood floors, fireplace, 65"" TV with Xb...",none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN

In [151]:
missing_ratio = listings.isnull().mean()
high_missing = missing_ratio[missing_ratio > 0.5].index.tolist()
high_missing

['square_feet', 'monthly_price', 'security_deposit', 'license']

In [152]:
column_names=['listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'description',
 'neighborhood_overview',
 'notes',
 'transit',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_thumbnail_url',
 'host_picture_url',
 'host_has_profile_pic',
 'street',
 'neighbourhood',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'market',
 'smart_location',
 'country_code',
 'country',
 'is_location_exact',
 'calendar_updated',
 'Calendar_last_scraped',
 'first_review',
 'last_review',
 'requires_license',
 'license',
 'jurisdiction_names',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'reviews_per_month','square_feet','security_deposit','space','host_about',]

listings=listings.drop(columns=column_names,errors='ignore')

In [153]:
print(listings['experiences_offered'].value_counts())
listings.drop(columns=['experiences_offered'], inplace=True)

experiences_offered
none    3818
Name: count, dtype: int64

In [154]:
print(listings['host_location'].value_counts())

host_location
Seattle, Washington, United States         3259
US                                          246
Spokane, Washington, United States           41
Kent, Washington, United States              34
Los Angeles, California, United States       13
                                           ...
Port Orchard, Washington, United States       1
Las Vegas, Nevada, United States              1
Bloomington, Indiana, United States           1
Houston, Texas, United States                 1
Arlington, Massachusetts, United States       1
Name: count, Length: 120, dtype: int64

In [155]:
def simplify_location(loc):
    if pd.isnull(loc):
        return "Unknown"
    elif "Seattle" in loc:
        return "Seattle"
    elif "Washington" in loc:
        return "Other Washington"
    elif "United States" in loc:
        return "Other USA"
    else:
        return "International"

listings['host_location_group'] = listings['host_location'].apply(simplify_location)

In [156]:

listings = listings[listings['host_location_group'] != 'Unknown']
listings['host_location_group'].value_counts()

host_location_group
Seattle             3288
International        273
Other Washington     158
Other USA             91
Name: count, dtype: int64

In [157]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=[['Other USA', 'Other Washington','International','Seattle']])
listings['host_location'] = encoder.fit_transform(listings[['host_location_group']])
listings.drop(columns=['host_location_group'], inplace=True)

In [158]:
# Handle NaNs if any 
listings['host_response_time'] = listings['host_response_time'].fillna('Unresponsive') 
print(listings['host_response_time'].value_counts())
listings['host_response_time'].isnull().sum()

host_response_time
within an hour        1692
within a few hours     967
within a day           595
Unresponsive           518
a few days or more      38
Name: count, dtype: int64

np.int64(0)

In [159]:
from sklearn.preprocessing import OrdinalEncoder

# Define the order from slowest to fastest
response_order = [
    'Unresponsive',
    'a few days or more',
    'within a day',
    'within a few hours',
    'within an hour'
]

# Initialize encoder
encoder = OrdinalEncoder(categories=[response_order])

# Apply encoding
listings['host_response_time'] = encoder.fit_transform(
    listings[['host_response_time']]
)

In [160]:
# Handle NaNs: fill with 0 
listings['host_response_rate'] = listings['host_response_rate'].fillna('0%')
listings['host_acceptance_rate'] = listings['host_acceptance_rate'].fillna('0%')

# Remove '%' and convert to float
listings['host_response_rate'] = listings['host_response_rate'].str.replace('%', '').astype(float)
listings['host_acceptance_rate'] = listings['host_acceptance_rate'].str.replace('%', '').astype(float)

In [161]:
# List of binary columns
binary_cols = ['host_is_superhost', 'has_availability', 'host_identity_verified','instant_bookable']

for col in binary_cols:
    print(f"\nUnique values in {col}:")
    print(listings[col].unique())
    print(listings[col].isnull().sum())

for col in binary_cols:
    listings[col] = listings[col].map({'t': 1, 'f': 0}).astype(int)

Unique values in host_is_superhost:
['f' 't']
0

Unique values in has_availability:
['t']
0

Unique values in host_identity_verified:
['t' 'f']
0

Unique values in instant_bookable:
['f' 't']
0

In [162]:
print(listings[binary_cols].head(10))

   host_is_superhost  has_availability  host_identity_verified  \
0                  0                 1                       1
1                  1                 1                       1
2                  0                 1                       1
3                  0                 1                       1
4                  0                 1                       1
5                  0                 1                       1
6                  1                 1                       1
7                  1                 1                       1
8                  0                 1                       1
9                  1                 1                       1

   instant_bookable
0                 0
1                 0
2                 0
3                 0
4                 0
5                 0
6                 0
7                 0
8                 0
9                 0

In [163]:
listings['neighbourhood_cleansed'].value_counts()
listings['neighbourhood_cleansed'].isnull().sum()

np.int64(0)

In [164]:
listings['host_neighbourhood']=listings['neighbourhood_cleansed']
listings=listings.drop(columns=['neighbourhood_cleansed'])

In [165]:
listings['host_neighbourhood'].value_counts()

host_neighbourhood
Broadway             396
Belltown             232
Wallingford          167
Fremont              158
Minor                134
                    ...
Arbor Heights          5
Pinehurst              4
South Beacon Hill      4
South Park             3
Roxhill                2
Name: count, Length: 87, dtype: int64

In [166]:
listings['host_neighbourhood'].isnull().sum()

np.int64(0)

In [167]:
# One-hot encode the 'host_neighbourhood' column
listings = pd.get_dummies(listings, columns=['host_neighbourhood'], prefix='host_neighbourhood', dtype=int)

In [168]:
listings['host_verifications'].isnull().sum()

np.int64(0)

In [169]:
# 1. Strip the brackets and split the string by comma
# This approach is good, but let's make it a little more robust to handle edge cases
listings['host_verifications'] = listings['host_verifications'].str.strip('[]').str.split(', ').fillna('')

# 2. Explode the lists into new rows
exploded_listings = listings.explode('host_verifications')

# 3. Clean up and handle potential nulls
exploded_listings['host_verifications'] = exploded_listings['host_verifications'].str.strip("''").str.strip()
exploded_listings = exploded_listings[exploded_listings['host_verifications'] != '']
exploded_listings['host_verifications'] = exploded_listings['host_verifications'].replace('nan', '')

# 4. One-hot encode the exploded column
verifications_encoded = pd.get_dummies(exploded_listings['host_verifications'], prefix='verification', dtype=int)

# 5. Group by the original index and sum to get the final one-hot encoded columns
verifications_final = verifications_encoded.groupby(verifications_encoded.index).sum()

# 6. Concatenate the new columns with the original dataframe and drop the old column
# The concatenation must happen BEFORE you drop the original column to avoid errors
listings = pd.concat([listings, verifications_final], axis=1)
listings = listings.drop('host_verifications', axis=1)

In [170]:
listings['cancellation_policy'].isnull().sum()
#listings['cancellation_policy'].value_counts()

np.int64(0)

In [171]:
print(listings['cancellation_policy'].unique())
#Ordinal encode the 'cancellation_policy' column
# Define the order from strictest to most lenient
cancellation_order = ['moderate', 'strict', 'flexible'
]

# Initialize encoder
encoder = OrdinalEncoder(categories=[cancellation_order])

# Apply encoding
listings['cancellation_policy'] = encoder.fit_transform(
    listings[['cancellation_policy']]
)

['moderate' 'strict' 'flexible']

In [172]:
listings = listings.drop('calendar_last_scraped', axis=1)

In [173]:
# List of price-related columns to clean
price_cols = ['price', 'weekly_price', 'monthly_price', 'cleaning_fee', 'extra_people']

# Loop through each column to clean and convert
for col in price_cols:
    # Remove '$' and ',' and convert to float
    listings[col] = listings[col].str.replace('[$,]', '', regex=True).astype(float)

In [174]:
# Impute missing values with the median of each column
# This is a better approach than using the mean, as it's less sensitive to outliers.
for col in ['weekly_price', 'monthly_price', 'cleaning_fee']:
    listings[col]=listings[col].fillna(listings[col].median())

In [175]:
listings.drop(columns=['longitude', 'latitude'], inplace=True, errors='ignore')

In [176]:
listings['zipcode'].isnull().sum()
listings.dropna(subset=['zipcode'], inplace=True)

In [177]:
# Convert to string to use string methods
listings['zipcode'] = listings['zipcode'].astype(str)

# Clean the zip code by keeping only digits. This handles entries like '99\n98122'
listings['zipcode'] = listings['zipcode'].str.replace('[^0-9]', '', regex=True)

# Drop any remaining null or empty string values, if any, after cleaning
listings['zipcode'].replace('', pd.NA, inplace=True)
listings.dropna(subset=['zipcode'], inplace=True)

listings['zipcode'] = listings['zipcode'].astype(int)

/var/folders/ws/pr8fntz152n388nsl1l08cpw0000gn/T/ipykernel_95214/2404272571.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  listings['zipcode'].replace('', pd.NA, inplace=True)

In [178]:
listings = pd.get_dummies(listings, columns=['zipcode'], prefix='zipcode', dtype=int)

In [179]:
print(listings['property_type'].isnull().sum())
print(listings.dropna(subset=['property_type'], inplace=True))
print(listings['property_type'].value_counts())

1
None
property_type
House              1728
Apartment          1700
Townhouse           118
Condominium          91
Loft                 40
Bed & Breakfast      36
Other                22
Cabin                21
Camper/RV            13
Bungalow             13
Boat                  7
Tent                  5
Treehouse             3
Dorm                  2
Chalet                2
Yurt                  1
Name: count, dtype: int64

In [180]:
listings_property_type = ['Tent',
    'Yurt',
    'Dorm',
    'Camper/RV',
    'Boat',
    'Other',
    'Treehouse',
    'Cabin',
    'Bed & Breakfast',
    'Bungalow',
    'Loft',
    'Chalet',
    'Townhouse',
    'Condominium',
    'Apartment',
    'House']

# Ordinal encode the 'property_type' column
encoder = OrdinalEncoder(categories=[listings_property_type])
listings['property_type'] = encoder.fit_transform(listings[['property_type']])

In [181]:
print(listings['room_type'].isnull().sum())
print(listings.dropna(subset=['room_type'], inplace=True))
print(listings['room_type'].value_counts())

0
None
room_type
Entire home/apt    2529
Private room       1156
Shared room         117
Name: count, dtype: int64

In [182]:
listings_room_type = ['Shared room',
    'Private room',
    'Entire home/apt']

# Ordinal encode the 'room_type' column
encoder = OrdinalEncoder(categories=[listings_room_type])
listings['room_type'] = encoder.fit_transform(listings[['room_type']])

In [183]:
print(listings['bed_type'].isnull().sum())
print(listings.dropna(subset=['bed_type'], inplace=True))
print(listings['bed_type'].value_counts())

0
None
bed_type
Real Bed         3642
Futon              74
Pull-out Sofa      47
Airbed             26
Couch              13
Name: count, dtype: int64

In [184]:
listings_bed_type = ['Couch',
    'Airbed',
    'Futon',
    'Pull-out Sofa',
    'Real Bed']

# Ordinal encode the 'room_type' column
encoder = OrdinalEncoder(categories=[listings_bed_type])
listings['bed_type'] = encoder.fit_transform(listings[['bed_type']])

In [185]:
listings['amenities'] = listings['amenities'].fillna('{}')

# Define a list of key amenities
key_amenities = [
    'TV', 'Cable TV', 'Internet', 'Wireless Internet', 'Air Conditioning',
    'Kitchen', 'Heating', 'Washer', 'Dryer', 'Family/Kid Friendly',
    'Free Parking on Premises', 'Pets Allowed', 'Hot Tub', 'Indoor Fireplace','Breakfast', 'Essentials', 'Shampoo',
    'Smoke Detector', 'Carbon Monoxide Detector', 'First Aid Kit', 'Fire Extinguisher',
    'Family/Kid Friendly', 'Pets Allowed', 'Laptop Friendly Workspace', 'Wheelchair Accessible'
]

# Create a binary column for each key amenity
for amenity in key_amenities:
    # Use str.contains() to check if the amenity string is in the text
    # .astype(int) converts True/False to 1/0
    column_name = f"has_{amenity.lower().replace(' ', '_').replace('/', '_')}"
    listings[column_name] = listings['amenities'].str.contains(amenity, case=False, na=False).astype(int)

# Drop the original 'amenities' column
listings = listings.drop('amenities', axis=1)

In [186]:
listings.rename(columns={'id': 'listing_id'}, inplace=True)

In [187]:
listings.to_csv("listings_cleansed.csv", index=False)