In [10]:
import pandas as pd
import numpy as np

In [11]:
reviews = pd.read_csv("reviews.csv")

In [12]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [13]:
reviews.sample()

,listing_id,id,date,reviewer_id,reviewer_name,comments
50346,6823837,39186328,2015-07-21,14058905,Chris,"The neighborhood was quiet, but it was difficu..."

In [14]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

In [15]:
# Assume you have already loaded your 'reviews' DataFrame
# reviews = pd.read_csv('reviews.csv')

# Count the number of reviews for each listing
reviews_count = reviews.groupby('listing_id')['id'].count().reset_index()

# Rename the count column to something descriptive
reviews_count.rename(columns={'id': 'number_of_reviews'}, inplace=True)

# Now, this 'reviews_count' DataFrame is ready to be merged with your main 'listings' DataFrame.
print(reviews_count.head())

   listing_id  number_of_reviews
0        4291                 35
1        5682                297
2        6606                 52
3        7369                 40
4        9419                 79

In [16]:
reviews.drop(columns=['reviewer_id','reviewer_name','comments','date'], inplace=True)

In [17]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   listing_id  84849 non-null  int64
 1   id          84849 non-null  int64
dtypes: int64(2)
memory usage: 1.3 MB

In [18]:
reviews.to_csv("reviews_cleansed.csv", index=False)